.delete-form {
    display: inline;
}

ul {
    list-style-type: none;
}

.project-head {
    text-align:center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.jumbotron {
    margin: 20px auto;
}

.card {
    margin: 10px auto;
}

.project-avatar {
    height: 100px;
}