<% include ../partials/header %>

<div class="container">    
    <h1 class="project-head">Add a new task</h1>
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
                <div style="width:50%; margin:0 auto">
                        <form action="/projects/<%= project_id %>/tasks" method="POST">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="task[name]" placeholder="Name">
                            </div>
            
                            <div class="form-group">
                                    <textarea class="form-control" rows="4" type="text" name="task[description]" placeholder="Description"></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="startDate">Start Date:</label>
                                    <input id="startDate" class="form-control" type="date" name="task[startDate]" placeholder="Start Date">
                            </div>
                            <div class="form-group">
                                    <label for="endDate">End Date:</label>
                                    <input id="endDate" class="form-control" type="date" name="task[endDate]" placeholder="End Date">
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Submit!</button>
                            </div>
                        </form>
                        <a href="/projects/<%= project_id %>">Go Back</a>
                </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
